<div class="root">


  <img class="profile" href="">

  <h3 class="header">#Business Name#</h3>

  <div class="info">>

      <table class="table">
        <thead>
          <tr class="categories">
            <th>First</th>
            <th>Last</th>
            <th>BusinessName</th>
            <th>Address</th>
            <th>Phone#</th>
            <th>Email</th>

            <div class="column">
              <th>State</th>
              <th>City</th>
              <th>Zip</th>
              <th>Specialization</th>
              <th>Hire</th>
              <th>Weblink</th>
            </div>
          </tr>
        </thead>
      </table>

  </div>


  <div class="activity">

    

  </div>


</div>