.profile {
  position: absolute;
  border: 0.5rem solid brown;
  width: 15rem;
  height: 13rem;
  margin-top: 23rem;
  margin-left: -40rem;
}

.header {
  position: absolute;
  font-size: large;
  white-space: nowrap;
  text-decoration: underline;
  margin-top: 23rem;
  margin-left: -20rem;
}

.info {
  position: absolute;
  border: 0.6rem solid brown;
  margin-top: 24.5rem;
  margin-left: -20rem;
  width: 45rem;
  height: 17.5rem;
}

.activity {
  position: absolute;
  border: 0.6rem solid brown;
  margin-top: 47rem;
  margin-left: -20rem;
  width: 45rem;
  height: 10rem;
}

.categories {
  position: absolute;
  display: block;
  
}

.column {
  position: absolute;
  display: block;
  margin-left: 23rem;

}


