<div class="root">


  <img class="profile" href="">

  <h3 class="header">#Business Name#</h3>

  <div class="info">>

      <table class="table">
        <thead>
          <tr class="categories" scope="row">
            <th>First:</th><br>
            <th>Last:</th><br>
            <th>BusinessName:</th><br>
            <th>Address:</th><br>
            <th>Phone#:</th><br>
            <th>Email:</th><br>
          </tr>

          <tr class="column" scope="row">
            <th>State:</th><br>
            <th>City:</th><br>
            <th>Zip:</th><br>
            <th>Specialization:</th><br>
            <th>Hire:</th><br>
            <th>Weblink:</th>
          </tr>
        </thead>
      </table>

  </div>


  <div class="activity">

    

  </div>


</div>