<div class="root">

  <img class="profile" href="">

  <input class="picFile" type="file" value="Edit Profile Picture" onchange="readImage(picLink)" accept=".jpg, .jpeg, .png">

  <a routerLink="/post">
    <button class="post" id="post" onclick="postGallery">Post</button>
  </a>

  <h3 class="user" id="user">#Last#, #First# / #Business Name#</h3>

  <div class="info">

      <table class="table">
        <thead>
          <tr class="categories" scope="row">
            <th>First:</th><br>
            <th>Last:</th><br>
            <th>BusinessName:</th><br>
            <th>Address:</th><br>
            <th>Phone#:</th><br>
            <th>Email:</th><br>
          </tr>

          <!-- <p class="data">

            {{data.firstName}}
            {{data.lastName}}
            {{data.address}}
            {{data.phone}}
            {{data.email}}
            {{data.firstName}}

          </p>

          <p class="data1">

            {{data.state}}
            {{data.city}}
            {{data.zip}}
            {{data.businessType}}
            {{data.hire}}
            {{data.webLink}}

          </p> -->

          <tr class="column" scope="row">
            <th>State:</th><br>
            <th>City:</th><br>
            <th>Zip:</th><br>
            <th>Specialization:</th><br>
            <th>Hire:</th><br>
            <th>Weblink:</th>
          </tr>
        </thead>
      </table>

  </div>

  <a routerLink="/">
    <button class="logout" onclick="" >Sign Out</button>
  </a>

  <a routerLink="/">
    <button class="edit" onclick="" >Edit Info</button>
  </a>
 
  <h3 class="uploads">Uploads:</h3>

  <div class="activity">

    <a routerLink="/media">
      <div class="media">
        <a class="d-flex" href="#">
          <img src="" alt="">
        </a>
      </div>
    </a>

    <div class="media-body">
      <h5 id="header">Media heading</h5>
    </div>

  </div>


</div>