.profile {
  position: absolute;
  border: 0.5rem solid brown;
  width: 15rem;
  height: 13rem;
  margin-top: 21.5rem;
  margin-left: -40rem;
}

.header {
  position: absolute;
  font-size: large;
  white-space: nowrap;
  text-decoration: underline;
  margin-top: 18rem;
  margin-left: -20rem;
}

.info {
  position: absolute;
  border: 0.6rem solid brown;
  padding-top: 1rem;
  margin-top: 19.5rem;
  margin-left: -20rem;
  width: 45rem;
  height: 16.5rem;
}

.logout {
  position: absolute;
  border: 0.35rem solid brown;
  width: 5rem;
  height: 2rem;
  margin-left: 16rem;
  margin-top: 42rem;
}

.edit {
  position: absolute;
  border: 0.35rem solid brown;
  width: 5rem;
  height: 2rem;
  margin-left: -15rem;
  margin-top: 42rem;
}

.resume {
  position: absolute;
  margin-top: 45.5rem;
}

.activity {
  position: absolute;
  border: 0.6rem solid brown;
  margin-top: 47rem;
  margin-left: -20rem;
  width: 45rem;
  height: 10rem;
}

.categories {
  position: absolute;
  display: block;
  
}

.column {
  position: absolute;
  display: block;
  margin-left: 23rem;

}


