.specialists {
  position: absolute;
  border: 0.5rem solid brown;
  margin-top: 23rem;
  margin-left: -19rem;
  width: 40rem;
  height: 35rem;
}

.title {
  position: absolute;
  font-size: 1.25rem;
  text-decoration: underline;
  white-space: nowrap;
  margin-top: 21.5rem;
  margin-left: -15rem;
}

.prospect {
  position: absolute;
}



