.specialists {
  position: absolute;
  border: 0.6rem solid brown;
  margin-top: 20rem;
  margin-left: -19rem;
  width: 40rem;
  height: 38rem;
}

.title {
  position: absolute;
  font-size: 1.25rem;
  text-decoration: underline;
  white-space: nowrap;
  margin-top: 18.5rem;
  margin-left: -15rem;
}

.education {
  white-space: nowrap;
}

.input {
  position: absolute;
  margin-top: 20rem;
  margin-left: -7.5rem;
}

.prospect {
  position: absolute;
  margin-top: 0.5rem;
  margin-left: 10rem;
  padding-top: 1rem;
  padding-left: 3rem;
}

.last {
  position: absolute;
  margin-top: 1rem;
}

.email {
  position: absolute;
  margin-top: 4rem;
}

.password {
  position: absolute;
  margin-top: 7rem;
}

.college {
  position: absolute;
  margin-top: 10rem;
}

.city {
  position: absolute;
  margin-top: 13rem;
}

.state {
  position: absolute;
  margin-top: 16rem;
}

.resume {
  position: absolute;
  margin-top: 27rem;
}

.submit {
  position: absolute;
  border: 0.3rem solid brown;
  margin-top: 34.5rem;
  margin-left: 16.5rem;
  width: 5.5rem;
  height: 2rem;
}

