<div class="root">

  <div class="summary">

    <p class="message">

      Your subscription premium to the Creator's Catalogue is described below. As a member of The Creator's Catalogue, you will have the ability to add your business to
      the database and attract potential customers, post and sell your art, and also network and search for your next career opportunity. 

    </p>

    <h3 class="header">Your Purchase:</h3>

    <div class="order">

      <p class="pricing">

        Subtotal: #$225.00#

      </p>

    </div>

    <form class="paymentInfo" action="CardInfo.html">

      <div class="name">
        <label for="cardHolder">Cardholder's Name:</label><br>
        <input type="text" id="cardHolder" name="cardHolder" size="30" required><br>
      </div>

      <div class="addy">
        <label for="address">Business Address:</label><br>
        <input type="text" id="address" name="address" size="30" required><br>
      </div>

      <div class="brand">
        <label for="cardBrand">Card Brand:</label><br>
        <input type="text" id="cardBrand" name="cardBrand" size="20" required><br>
      </div>

      <div class="col2">
        
        <div class="number">
          <label for="cardNumber">Card Number:</label><br>
          <input type="number" id="cardNum" name="cardNum" size="20" required><br>
        </div>

        <div class="date">
          <label for="cardDate">Card Expiration Date:</label><br>
          <input type="date" id="date" name="date" size="20" required><br>
        </div>

        <div class="security">
          <label class="cardNum" for="cardSecNum">Card Security Number: ( 3-digit number on the back )</label><br>
          <input type="number" id="cardSecNum" name="cardSecNum" size="40" required><br>
        </div>

      </div>

        <input class="submit" type="button" value="Submit" id="submit" onclick="addcard">

    </form>

  </div>


</div>
