.summary {
  position: absolute;
  border: 0.6rem solid brown;
  width: 48rem;
  height: 27rem;
  margin-top: 23rem;
  margin-left: -23rem;
}

.paymentInfo {
  position: absolute;
  margin-top: 16rem;
  margin-left: 4rem;
}

.message {
  position: absolute;
  text-align: center;
  font-size: large;
  font-weight: bold;
}

.col2 {
  position: absolute;
  margin-top: -7.5rem;
  margin-left: 20rem;
}

.cardNum {
  white-space: nowrap;
}

.pricing {
  position: absolute;
  text-align: center;
  margin-top: 10rem;
  margin-left: 20rem;
}

.header {
  position: absolute;
  margin-top: 7rem;
  margin-left: 3rem;
}

.submit {
  position: absolute;
  border: 0.25rem solid brown;
  margin-top: 7.5rem;
  margin-left: 17.5rem;
  width: 6rem;
  height: 2rem;
}

.name {
  position: absolute;
  margin-top: -2.5rem;
}

.addy {
  position: absolute;
  margin-top: 0.5rem;
}

.brand {
  position: absolute;
  margin-top: 3.7rem;
}

.number {
  position: absolute;
  margin-top: 5rem;
}

.date {
  position: absolute;
  margin-top: 7.95rem;
}

.security {
  position: absolute;
  margin-top: 11.2rem;
}
