<div class="root">
  <div class="submit">

    <h3 class="title">
      Insert your art into the catelogue bellow. Add a caption so the MOCC audience can better understand your media. 
      The submissions will be viewed by MOCC admins before being posted on the Creator's Catelogue.
    </h3>

    <form class="artInfo" action="gallery.html">

      <label for="name">Creator's Name:</label><br>
      <input type="text" id="name" name="name" size="40" required><br>

      <label for="title">Artwork Title:</label><br>
      <input type="text" id="title" name="title" size="40" required><br>

      <label for="email">Email:</label><br>
      <input type="email" id="email" name="email" size="40" required><br><br>

      <label for="myfile">Select a .img / .jpeg file for your picture:</label>

      <div class="fileInput">
        <input type="file" id="myfile" name="myfile" onchange="readImage(picLink)" accept=".jpg, .jpeg, .png" required><br><br>
      </div>

      <div class="art">
        <label for="message">Art Description:</label><br>
        <textarea class="caption" name="feedback" id="message" cols="70" rows="10" required>Describe this artpiece to the audience...</textarea>
      </div>

      <input class="button" type="button" value="Submit" id="sub" onclick="addcard">

  </form>

  </div>

</div>