.root {
  background-color: gold;
  color: brown;
  display: flex;
}

.title {
  position: absolute;
  text-align: center;
  text-overflow: ellipsis;

}

.submit {
  position: absolute;
  border: 0.6rem solid brown;
  margin-top: 22rem;
  margin-left: -20rem;
  width: 40rem;
  height: 32rem;
}

.artInfo {
  position: absolute;
  padding-top: 6rem;
  padding-left: 2rem;
}

.art {
  position: absolute;
  margin-top: 1rem;
}

.fileInput {
  position: absolute;
  margin-top: -1.2rem;
  margin-left: 17rem;
}

.button {
  position: absolute;
  border: 0.25rem solid brown;
  margin-top: 14.5rem;
  margin-left: -1rem;
  width: 6rem;
  height: 2rem;
}

.caption {
  border: 0.4rem solid brown;
}

