.root {
  background-color: gold;
  color: brown;
  display: flex;
}

.title {
  position: absolute;
  text-align: center;
  text-overflow: ellipsis;

}

.artSelection {
  position: absolute;
  margin-top: 7.2rem;
  margin-left: -0.01rem;
  white-space: nowrap;
}

.submit {
  position: absolute;
  border: 0.6rem solid brown;
  margin-top: 18rem;
  margin-left: -20rem;
  width: 40rem;
  height: 36rem;
}

.artInfo {
  position: absolute;
  padding-top: 6rem;
  padding-left: 2rem;
}

.artTitle {
  position: absolute;
  margin-top: 0.5rem;
}

.email {
  position: absolute;
  margin-top: 3.8rem;
}

.art {
  position: absolute;
  margin-top: 12rem;
}

.fileInput {
  position: absolute;
  margin-top: 9rem;
  margin-left: -0.01rem;
  white-space: nowrap;
}

.button {
  position: absolute;
  border: 0.25rem solid brown;
  margin-top: 24.5rem;
  margin-left: 15rem;
  width: 6rem;
  height: 2rem;
}

.caption {
  border: 0.4rem solid brown;
}

