<div class="root">
  
  <div class="submit">

    <h3 class="title">
      Submit your art's information into the catelogue bellow. Add a caption so the MOCC audience can better understand your media.
      If you are submitting a picture/painting, you have the option to monetize your art to catelogue members.
      The submissions will be viewed by MOCC admins before being posted on the Creator's Catelogue.
    </h3>

    <form class="artInfo" action="gallery.html">

        <div class="name">
          <label for="name">Creator's Name:</label><br>
          <input type="text" id="name" name="name" size="40" required><br>
        </div>

        <div class="artTitle">
          <label class="" for="title">Artwork Title:</label><br>
          <input type="text" id="title" name="title" size="40" required><br>
        </div>

        <div class="email">
          <label for="email">Email:</label><br>
          <input type="email" id="email" name="email" size="40" required><br><br>
        </div>

        <div class="artSelection">
          <label for="artCategory">Art Category:</label>
          <select name="dropdown" required><br>
            <option value="picture">Picture</option>
            <option value="video">Video</option>
          </select><br>
        </div>

        <div class="monetize">
          <label for="monetize">Monetize your Picture?</label>
          <select name="selection" required><br>
            <option value="yes">Yes</option>
            <option value="no">No</option>
          </select>
        </div>

        <div class="fileInput">
          <label for="myfile">Select a .img / .jpeg file for your submission:</label><br>
          <input class="input" type="file" id="myfile" name="myfile" onchange="readImage(picLink)" accept=".jpg, .jpeg, .png" required><br>
        </div>

        <div class="art">
          <label for="message">Art Description:</label><br>
          <textarea class="caption" name="feedback" id="message" cols="70" rows="10" required>Describe this artpiece to the audience...</textarea>
        </div>

        <input class="button" type="button" value="Submit" id="sub" onclick="addcard">

  </form>

  </div>

</div>