.root {
    position: absolute;
    background-color: gold;
    color: brown;
    display: flex;
}

.title {
    position: absolute;
    margin-top: 5rem;
    margin-left: -17rem;
    white-space: nowrap;
}

.subheader {
    white-space: nowrap;
    margin-top: 1rem;
    margin-left: 13rem;
    font-size: 1.3rem;
}

.logo {
    position: absolute;
    border: 0.6rem solid brown;
    margin-left: -50rem;
    margin-top: 5rem;
    width: 12rem;
    height: 10rem;
}

.topnav {
    position: absolute;
    margin-top: 15rem;
    margin-left: -26rem;
    padding-top: 0.5rem;
    border: 0.6rem solid brown;
    display: flex;
    justify-content: space-around;
    width: 55rem;
    height: 2rem;
}

.subbar {
    display: flex;
    flex-direction: row;
}

.ad1 {
    position: absolute;
    margin-left: -50rem;
    margin-top: 20rem;
    border: 0.6rem solid brown;
    width: 10rem;
    height: 35rem;
}

.ad2 {
    position: absolute;
    margin-left: 40rem;
    margin-top: 20rem;
    border: 0.6rem solid brown;
    width: 10rem;
    height: 35rem;
}

.active {
    color: blue;
}
