<div class="root">

    <div class="title">
        <h1>The Minority Owned Creator's Catalogue</h1>
        <h3 class="subheader">Unite The Cultures</h3>
    </div>

    <img class="logo" src="src\assets\logo.png">

    <div class="topnav">
        <a [routerLink]="['/']" [routerLinkActiveOptions]="{exact: true}" [routerLinkActive]="['active']">Home</a>
        <a routerLink="userpage" routerLinkActive="active">UP</a>
        <a routerLink="search" routerLinkActive="active">Search</a>
        <a routerLink="about" routerLinkActive="active">About</a>
        <a routerLink="gallery" routerLinkActive="active">Gallery</a>
        <a routerLink="tourboard" routerLinkActive="active">Tour Board</a>
        <a routerLink="submitart" routerLinkActive="active">Submit Art</a>
        <a routerLink="payment" routerLinkActive="active">Payment</a>
        <a routerLink="contact" routerLinkActive="active">Contact</a>
        <a routerLink="profile" routerLinkActive="active">Account</a>
        <a routerLink="login" routerLinkActive="active">Login</a>
        <div class="subbar">
            <input type="text" placeholder="Submit..">
            <a routerLink="submit">
                <button>Submit</button>
            </a>
        </div>
    </div>

    <div class="ad1">

        

    </div>

    <h3 class="recents">Recent Uploads:</h3>
    <div class="uploads">

        <div class="newMedia">
            <a routerLink="media">
                <img class="media" src="" alt="">
            </a>
            <div class="media-body">
                <h5>Media heading</h5>
            </div>
        </div>

        <div class="newMedia1">
            <a routerLink="media">
                <img class="media1" src="" alt="">
            </a>
            <div class="media-body1">
                <h5>Media heading</h5>
            </div>
        </div>

        <div class="newMedia2">
            <a routerLink="media">
                <img class="media2" src="" alt="">
            </a>
            <div class="media-body2">
                <h5>Media heading</h5>
            </div>
        </div>

    </div>


</div>
