.root {
    position: absolute;
    background-color: gold;
    color: brown;
    display: flex;
}

.title {
    position: absolute;
    margin-top: 3rem;
    margin-left: -15rem;
    white-space: nowrap;
}

.header {
    position: absolute;
    margin-top: 0.5rem;
    margin-left: 4.5rem;
}

.subheader {
    white-space: nowrap;
    margin-top: 4rem;
    margin-left: 10.5rem;
    font-size: 1.3rem;
}

.logo {
    position: absolute;
    border: 0.6rem solid brown;
    margin-left: -50rem;
    margin-top: 5rem;
    width: 12rem;
    height: 10rem;
}

.topnav {
    position: absolute;
    margin-top: 11.5rem;
    margin-left: -32rem;
    padding-top: 0.5rem;
    border: 0.6rem solid brown;
    display: flex;
    justify-content: space-around;
    width: 70rem;
    height: 2rem;
}

.subbar {
    display: flex;
    flex-direction: row;
    height: 1.33rem;
}

.ad1 {
    position: absolute;
    margin-left: -55rem;
    margin-top: 20rem;
    border: 0.6rem solid brown;
    width: 10rem;
    height: 35rem;
}

.uploads {
    border: 0.6rem solid brown;
    position: absolute;
    margin-left: 44rem;
    margin-top: 5rem;
    width: 11rem;
    height: 30rem;
}

.recents {
    position: absolute;
    white-space: nowrap;
    margin-top: 3.5rem;
    margin-left: 44rem;
}

.media {
    position: absolute;
    border: 0.35rem solid brown;
    margin-top: 1rem;
    margin-left: 1.5rem;
    width: 7rem;
    height: 6rem;
}

.media-body {
    position: absolute;
    font-size: large;
    margin-top: 6.1rem;
    margin-left: 0.5rem;
}

.media1 {
    position: absolute;
    border: 0.35rem solid brown;
    margin-top: 10.5rem;
    margin-left: 1.5rem;
    width: 7rem;
    height: 6rem;
}

.media-body1 {
    position: absolute;
    font-size: large;
    margin-left: 0.5rem;
    margin-top: 15.6rem;
}

.media2 {
    position: absolute;
    border: 0.35rem solid brown;
    margin-top: 20rem;
    margin-left: 1.5rem;
    width: 7rem;
    height: 6rem;
}

.media-body2 {
    position: absolute;
    font-size: large;
    margin-left: 0.5rem;
    margin-top: 25rem;
}

.active {
    color: blue;
}
