.title {
  position: absolute;
  font-size: 1.25rem;
  margin-top: 20rem;
  margin-left: -6rem;
  white-space: nowrap;
  text-decoration: underline;
}

.register {
  position: absolute;
  border: 0.6rem solid brown;
  height: 35rem;
  width: 40rem;
  margin-top: 21.5rem;
  margin-left: -19rem;
}

.account {
  position: absolute;
  margin-top: 1.5rem;
  margin-left: 13rem;
}

.last {
  position: absolute;
  margin-top: 0.3rem;
}

.email {
  position: absolute;
  margin-top: 3rem;
}

.password {
  position: absolute;
  margin-top: 6rem;
}

.genre {
  position: absolute;
  margin-top: 9rem;
}

.other {
  position: absolute;
  white-space: nowrap;
  margin-top: 12rem;
}

.city {
  position: absolute;
  margin-top: 15rem;
}

.state {
  position: absolute;
  margin-top: 18rem;
}

.website {
  position: absolute;
  margin-top: 21rem;
}

.file {
  position: absolute;
  margin-top: 24rem;
}

.submit {
  position: absolute;
  border: 0.3rem solid brown;
  margin-top: 31.5rem;
  margin-left: 17rem;
  width: 5.5rem;
  height: 2rem;
}
