.title {
  position: absolute;
  font-size: 1.25rem;
  margin-top: 20rem;
  margin-left: -6rem;
  white-space: nowrap;
  text-decoration: underline;
}

.register {
  position: absolute;
  border: 0.6rem solid brown;
  height: 36rem;
  width: 40rem;
  margin-top: 21.5rem;
  margin-left: -19rem;
}

.account {
  position: absolute;
  margin-top: 1rem;
  margin-left: 13rem;
}

.last {
  position: absolute;
  margin-top: 0.3rem;
}

.contact {
  position: absolute;
  margin-top: 3rem;
}

.email {
  position: absolute;
  margin-top: 5.7rem;
}

.password {
  position: absolute;
  margin-top: 8.5rem;
}

.genre {
  position: absolute;
  margin-top: 11.4rem;
}

.other {
  position: absolute;
  white-space: nowrap;
  margin-top: 14rem;
}

.city {
  position: absolute;
  margin-top: 17rem;
}

.state {
  position: absolute;
  margin-top: 20rem;
}

.website {
  position: absolute;
  margin-top: 23rem;
}

.file {
  position: absolute;
  margin-top: 26rem;
}

.submit {
  position: absolute;
  border: 0.3rem solid brown;
  margin-top: 32.7rem;
  margin-left: 17rem;
  width: 5.5rem;
  height: 2rem;
}

small {
  position: absolute;
  white-space: nowrap;
  text-decoration: underline;
  margin-top: -1.2rem;
  margin-left: 12rem;
}

.genreReq {
  position: absolute;
  margin-left: 7.3rem;
}
