.root {
  background-color: gold;
  color: brown;
  display: flex;
}

.title {
  position: absolute;
  white-space: nowrap;
  margin-top: 18rem;
  margin-left: -5rem;
  text-decoration: underline;
}

.intro {
  position: absolute;
  border: 0.6rem solid brown;
  margin-top: 20rem;
  margin-left: -22rem;
  width: 45rem;
  height: 17rem;
  text-align: center;
  font-size: large;
}

.about {
  position: absolute;
  border: 0.6rem solid brown;
  text-align: center;
  font-size: large;
  margin-top: 40rem;
  margin-left: -22rem;
  width: 45rem;
  height: 13rem;
}

/* .picture {
  position: absolute;
  border: 0.6rem solid brown;
  margin-top: 41rem;
  margin-left: -12rem;
  width: 25rem;
  height: 5rem;
} */
