<div class="root">

  <h2>About The MOCC</h2>
    <img src="#insert diverse youth unification pic#" />
    <div>
        This website is a unique project that will serve as a platform where underprivileged people can promote
        their services and goods for our community. It is no longer a secret that since the beginning of this country
        there has been animosity towards people who aren't White Americans and our advancement. MOCC will be a non-discrimatory
        environment where ANY minority group or person of interest can safely advertise their brand. The main goal of this
        website is to promote minority creativity and help centralize the investments of minority communities and to keep the 
        returns of those investments inside of the community. This is just the beginning, THE MARATHON CONTINUES!
    </div>

</div>
