.root {
  background-color: gold;
  color: brown;
  display: flex;
}

.title {
  position: absolute;
  margin-top: 23rem;
  margin-left: -5rem;

}

.about {
  position: absolute;
  border: 0.6rem solid brown;
  text-align: center;
  font-size: large;
  margin-top: 25rem;
  margin-left: -22rem;
  width: 45rem;
  height: 13rem;
}

.picture {
  position: absolute;
  border: 0.6rem solid brown;
  margin-top: 41rem;
  margin-left: -12rem;
  width: 25rem;
  height: 13rem;
}
