<div class="root">

  <h3 class="user" id="user">#Prospect Name#</h3>

  <img class="profile" src="">

  <input class="edit" type="file" value="Edit Profile Picture" onchange="readImage(picLink)" accept=".jpg, .jpeg, .png">

  <div class="info">

    <label class="contactInfo">Contact Information:</label><br>

    <div class="userInfo">

      <table class="table">
        <thead>
          <tr class="categories" scope="column">
            <th>First:</th><br>
            <th>Last:</th><br>
            <th>Birthday:</th><br>
            <th>Specialization:</th><br>
            <th>Education:</th><br>
            <th>Phone#:</th><br>
            <th>Email:</th><br>
          </tr>
        </thead>

        <!-- <p class="data1">

          {{data.first}}
          {{data.last}}
          {{data.specialization}}
          {{data.education}}
          {{data.phone}}
          {{data.email}}

        </p> -->

      </table>

    </div>

    <label class="description">Description:</label><br>

    <div class="bio">

      <p class="speal">


        
      </p>

    </div>

    <label class="resume">Resume:</label>

    <div class="file">



    </div>

    <!-- <div class="activity">

      <div class="uploads">



      </div>

    </div> -->

  </div>

</div>
