<div class="root">

  <h2 class="title">Search For Authors/Book</h2>

  <div class="searchBar">

    <label class="header" for="search">Enter Artist/Title Here:</label><br>

    <input class="input" type="text" id="search" name="search" size="40"><br>
    
    <input class="submit" type="button" id="submit" value="Search" size="25" onclick="">

  </div>

  <h3 class="selection">Book Selection</h3>

  <div class="bookShelf">

    <a routerLink="/">
      <div class="media">
        <a class="d-flex" href="#">
          <img src="" alt="">
        </a>

        <div class="media-body">
          <h5>Media heading</h5>
        </div>
      </div>
    </a>

  </div>

  <h3 class="bookClub">Author Book Club</h3>

  <div class="authorSection">

    <a routerLink="/">
      <div class="media1">
        <a class="d-flex" href="#">
          <img src="" alt="">
        </a>
        <div class="media-body1">
          <h5>Media heading</h5>
        </div>
      </div>
    </a>

  </div>

</div>
