.root {
  background-color: gold;
  color: brown;
  display: flex;
}

.title {
  position: absolute;
  margin-top: -4rem;
  margin-left: 2rem;
}

.loginBox {
  position: absolute;
  height: 17rem;
  width: 32rem;
  display: flex;
  text-align: center;
  margin-top: 37rem;
  margin-left: -15rem;
  border: 0.6rem solid brown;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.form {
  margin-top: -2rem;
}

.image {
  position: absolute;
  border: 0.6rem solid brown;
  margin-top: 21rem;
  margin-left: -14rem;
  width: 30rem;
  height: 13rem;
}

.submit {
  position: absolute;
  border: 0.25rem solid brown;
  margin-top: 2.5rem;
  margin-left: -1rem;
  width: 6rem;
  height: 2rem;
}

.forgotLogin {
  position: absolute;
  margin-top: 5.5rem;
  margin-left: 3rem;
  font-weight: bold;
}

.google {
  position: absolute;
  width: 10rem;
  height: 2rem;
}

.google-icon {
  position: absolute;
  margin-left: -2rem;
}

.g-signin2 {
  position: absolute;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
  border: 0.25rem solid brown;
  white-space: nowrap;
  margin-left: -9.1rem;
  margin-top: 7rem;
  width: 10rem;
}

.forgotPass {
  position: absolute;
  margin-top: 7rem;
  margin-left: 3.3rem;
  font-weight: bold;
}



@import url(https://fonts.googleapis.com/css?family=Roboto:500);
