.root {
  background-color: gold;
  color: brown;
  display: flex;
}

.title {
  position: absolute;
  margin-left: -3rem;
  margin-top: 24rem;
  white-space: nowrap;
}

.contact {
  position: absolute;
  border: 0.6rem solid brown;
  text-align: center;
  margin-left: -19rem;
  margin-top: 26rem;
  width: 40rem;
  height: 23rem;
}

.feedback {
  position: absolute;
  border: 0.5rem solid brown;
  margin-top: -0.5rem;
  margin-left: -18.2rem;
}

.submit {
  position: absolute;
  border: 0.3rem solid brown;
  margin-left: -3rem;
  margin-top: 11rem;
  height: 2rem;
  width: 6rem;
}
