<div class="root">
  <h2 class="title">Contact Me</h2>
  <div class="contact">
      <p>
        Email: brandonlamar0615@gmail.com / minorityownedcatalogue@gmail.com
      </p>

      <p>
        Instagram: @_bld1_ / @mo.catalogue
      </p>

      <p>
        Cell: (757)268-9111
      </p>

      <p>
        CashApp: $Bddddd
      </p>

      <textarea class="feedback" name="feedback" id="" cols="75" rows="10" >Leave any feedback you have for the MOCC here...</textarea>
     
  </div>
  
</div>