.prospectList {
  position: absolute;
  border: 0.6rem solid brown;
  width: 80rem;
  height: 35rem;
  margin-top: 23rem;
  margin-left: -40.5rem;
}

.prospect {
  position: absolute;
  overflow: auto;
  border-spacing: 3rem 0px;
  margin-top: 2rem;
  margin-left: 5.5rem; 
}

.submit {
  position: absolute;
  border: 0.2rem solid brown;
  margin-top: 21.5rem;
  margin-left: -1rem;
  width: 4.5rem;
  height: 1.75rem;
}

.title {
  position: absolute;
  white-space: nowrap;
  text-decoration: underline;
  font-size: 1.3rem;
  margin-top: 21.5rem;
  margin-left: -5rem;
}

.categories {
  position: absolute;
  text-decoration: underline;
  font-size: large;
  text-align: center;
}

.search {
  position: absolute;
  margin-top: -4.5rem;
}

.heading {
  position: absolute;
  white-space: nowrap;
  font-size: large;
  margin-top: 21rem;
  margin-left: -8.7rem;
}

.input {
  position: absolute;
  margin-top: 21rem;
  margin-left: -7.7rem;
}

