<div class="root"> 

  <div class="search">
    <label class="heading" for="search">Enter Who/What You Are Looking For Here:</label><br>
    <input class="input" type="text" id="search" name="search" size="35"><br>
  </div>

  <h3 class="title">Search For A Prospect</h3>

  <div class="prospectList">

    <table class="prospect">

      <thead class="titles">
        <tr class="categories">
          <th class="first">First</th>
          <th class="last">Last</th>
          <th class="name">BusinessName</th>
          <th class="address">Address</th>
          <th class="number">Phone#</th>
          <th class="email">Email</th>
          <th class="state">State</th>
          <th class="city">City</th>
          <th class="zip">Zip</th>
          <th class="type">Service</th>
          <!-- <th class="hire">Hire</th> -->
          <th class="link">Weblink</th>
        </tr>
      </thead>

      <div class="media">

        <!-- <img class="profile" href="#user profile pic#" *ngFor="let data of getIncluded(searchResults)"> -->

      </div>

      <tbody class="results">
        <!-- <tr class="row" *ngFor="let searchResult of searchResults" >

          <td class="data" *ngFor="let data of getIncluded(searchResult)" >{{searchResult[data]}}</td>

        </tr> -->

      </tbody>

    </table>

  </div>

</div>