<div class="root">

  <h3 class="header">
    The Creator's Catelogue Gallery
  </h3>

  <div class="gallery">

    <a routerLink="/pictures">
      <<div class="media">
        <img src="" class="" alt="">
      </div>
    </a>

    <div class="media-body">
        <h5>Picture Gallery</h5>
    </div>

    <a routerLink="/videos">
      <<div class="media1">
        <img src="" class="" alt="">
      </div>
    </a>

    <div class="media-body1">
      <h5>Video Gallery</h5>
    </div>
      
    <a routerLink="/musicmarketplace">
      <<div class="media2">
        <img src="" class="" alt="">
      </div>
    </a>

    <div class="media-body2">
      <h5>Music Marketplace</h5>
    </div>

    <a routerLink="/bookclub">
      <<div class="media3">
        <img src="" class="" alt="">
      </div>
    </a>

    <div class="media-body3">
      <h5>Book Club</h5>
    </div>

    <h5 class="heading">Daily Popular Uploads</h5>
    
    <div class="uploads">

      <a class="d-flex" routerLink="/media">
        <<div class="upload1">
            <img src="" alt="">
        </div>
      </a>
      <div>
        <h5 class="title">Media heading</h5>
      </div>

    </div>

  </div>
  

</div>