<div class="root">

  <h3 class="header">
    The Creator's Catelogue Gallery
  </h3>

<div class="gallery">

  <<div class="media">
    <a class="d-flex" href="#">
      <img src="" alt="">
    </a>
    <div class="media-body">
      <h5>Picture Gallery</h5>
    </div>
  </div>

  <<div class="media1">
    <a class="d-flex1" href="#">
      <img src="" alt="">
    </a>
    <div class="media-body1">
      <h5>Video Gallery</h5>
    </div>
  </div>

  <h5 class="heading">Daily Uploads</h5>
  <div class="uploads">

    <a class="d-flex" routerLink="/media">
      <<div class="upload1">
          <img src="" alt="">
      </div>
    </a>
    <div>
      <h5 class="title">Upload Title</h5>
    </div>

  </div>

</div>
  

</div>