<div class="root">


<div class="gallery">

  <<div class="media">
    <a class="d-flex" href="#">
      <img src="" alt="">
    </a>
    <div class="media-body">
      <h5>Picture Gallery</h5>
    </div>
  </div>

  <<div class="media1">
    <a class="d-flex1" href="#">
      <img src="" alt="">
    </a>
    <div class="media-body1">
      <h5>Video Gallery</h5>
    </div>
  </div>

  <div class="uploads">

    <<div class="upload1">
      <a class="d-flex" href="#">
        <img src="" alt="">
      </a>
      <div class="title">
        <h5>Daily Upload</h5>
      </div>
    </div>

  </div>

</div>
  

</div>