.title {
  position: absolute;
  margin-top: 21rem;
  margin-left: -13rem;
  white-space: nowrap;
  font-size: 1.25rem;
}

.tours {
  position: absolute;
  border: 0.6rem solid brown;
  width: 45rem;
  height: 35rem;
  margin-top: 23rem;
  margin-left: -22rem;
}

.dates {
  position: absolute;
  margin-top: 1.5rem;
  margin-left: 5rem;
} 

