<div class="root">

  <h2 class="title">Search For Instramentals to Purchase</h2>

  <div class="searchBar">

    <label class="header" for="search">Enter Artist/Genre Here:</label><br>

    <input class="input" type="text" id="search" name="search" size="40"><br>
    
    <input class="submit" type="button" id="submit" value="Search" size="25" onclick="">

  </div>

  <h2 class="heading">MOCC Instramental Gallery</h2>

  <div class="gallery">

    <a class="d-flex" routerLink="/media">
      <div class="media">
        <img src="" alt="">
        <h5 class="title1">Media heading</h5>
      </div>
    </a>

    <a class="d-flex" routerLink="/media">
      <div class="media1">
        <img src="" alt="">
        <h5 class="title2">Media heading</h5>
      </div>
    </a>

    <a class="d-flex" routerLink="/media">
      <div class="media2">
        <img src="" alt="">
        <h5 class="title3">Media heading</h5>
      </div>
    </a>

  </div>

</div>
