.root {
  background-color: gold;
  color: brown;
  display: flex;
}

.accountHeader {
  position: absolute;
  margin-top: 18rem;
  margin-left: -12rem;
  white-space: nowrap;
  text-decoration: underline;
}

.cardInfo {
  position: absolute;
  border: 0.6rem solid brown;
  margin-top: 20rem;
  margin-left: -22rem;
  width: 47rem;
  height: 23.5rem;
}

.paymentInfo {
  position: absolute;
  margin-top: 12rem;
  margin-left: 3rem;
}

.col2 {
  position: absolute;
  margin-top: -7.5rem;
  margin-left: 20rem;
}

.cardNum {
  white-space: nowrap;
}

.pricing {
  position: absolute;
  text-align: center;
  margin-top: 0.5rem;
}

.submit {
  position: absolute;
  border: 0.25rem solid brown;
  margin-top: 7.5rem;
  margin-left: 17rem;
  width: 6rem;
  height: 2rem;
}

.name {
  position: absolute;
  margin-top: -2.5rem;
}

.addy {
  position: absolute;
  margin-top: 0.5rem;
}

.brand {
  position: absolute;
  margin-top: 3.7rem;
}

.number {
  position: absolute;
  margin-top: 5rem;
}

.date {
  position: absolute;
  margin-top: 7.95rem;
}

.security {
  position: absolute;
  margin-top: 11.2rem;
}


