.root {
  background-color: gold;
  color: brown;
  display: flex;
}

.accountHeader {
  position: absolute;
  margin-top: 21rem;
  margin-left: -12rem;
  white-space: nowrap;
}

.cardInfo {
  position: absolute;
  border: 0.6rem solid brown;
  margin-top: 23rem;
  margin-left: -22rem;
  width: 47rem;
  height: 26rem;
}

.paymentInfo {
  position: absolute;
  margin-top: 12rem;
  margin-left: 3rem;
}

.col2 {
  position: absolute;
  margin-top: -7.5rem;
  margin-left: 20rem;
}

.cardNum {
  white-space: nowrap;
}

.pricing {
  position: absolute;
  text-align: center;
  margin-top: 0.5rem;
}

.submit {
  position: absolute;
  border: 0.25rem solid brown;
  margin-top: 3rem;
  margin-left: 17rem;
  width: 6rem;
  height: 2rem;
}
