<div class="root">

  <h2 class="accountHeader">Please Insert Your Payment Information</h2>
  <div class="cardInfo">
      <h3 class="pricing">
          Thank you for your interest in joining the MOCC. Your business information is guaranteed
          to be safely stored and exclusively advertised on this website. The annual fee to be featured on THE Minority Owned Catalogue is $250
          per business. The monthly plan option will be $17/month per business. This capital will go towards the funding of MOCC operations to 
          provide more exposure and audience to these featured creators. The ultimate goal is to give back and establish opportunities for the
          communities of minorites with scarce resources.
      </h3>

      <form class="paymentInfo" action="Home.html">
          <label for="cardHolder">Cardholder's Name:</label><br>
          <input type="text" id="cardHolder" name="cardHolder" size="40"><br><br />

          <label for="cardNumber">Card Number:</label><br>
          <input type="number" id="cardNum" name="cardNum" size="25"><br><br />

          <label for="cardDate">Card Expiration Date:</label><br>
          <input type="date" id="date" name="date" size="20"><br><br />

          <label for="cardSecNum">Card Security Number: ( 3-digit number on the back )</label><br>
          <input type="number" id="cardSecNum" name="cardSecNum" size="40"><br><br />

          <label for="cardBrand">Card Brand:</label><br>
          <input type="text" id="cardBrand" name="cardBrand" size="20"><br><br />

          <input class="submit" type="submit" value="Submit" id="sub" onclick="addcard">
      </form>
  </div>
  
</div>