<div class="root">

  <h2 class="accountHeader">Please Insert Your Payment Information</h2>

  <div class="cardInfo">
    
      <h3 class="pricing">
          Thank you for your interest in joining the MOCC! Your business information is guaranteed
          to be safely stored and exclusively advertised on this website. The annual fee to be featured on THE Minority Owned Catalogue is $150
          per business. The monthly plan option will be $9.99/month per business. This revenue will go towards the funding of MOCC operations to 
          provide more exposure and audience to these featured creators. The ultimate goal is to give back and establish opportunities for the
          communities of minorites with scarce resources.
      </h3>

      <a routerLink="/cardinfo">
        <input class="yearly" value="Yearly Subscription" type="button" action="">
      </a>

      <a routerLink="/cardinfo">
        <input class="monthly" value="Monthly Subscription" type="button" action="">
      </a>

  </div>
  
</div>