<div class="root">

  <!-- Search for Artist -->
  <div class="search">

    <p class="heading">Search For the Artist Here:</p>

    <input class="input" type="text" value="Enter the Artist">

    <input class="button" type="button" value="Search">

  </div>

  <h3 class="title">Check Out the Tour Board to See When Your Favorite Artist Performs</h3>

  <!-- Save Tour Dates for DataBase  -->

  <div class="tourBoard">

    <table class="dates">

      <thead class="categories">

        <th class="name">Name</th>
        <th class="date">Date</th>
        <th class="venue">City/State</th>

      </thead>

      <tbody class="results">

        <tr class="row">

          <td class="data" *ngFor="let data of " >Data</td>

          <a src="">
            <img class="image" href="#user profile pic#" id="">
          </a>

        </tr>

      </tbody>

    </table>

  </div>
  
</div>