<div class="root">

  <div class="holder">

    <p class="info">
       The Catalogue Allows You To Uniquely Promote Yourself! If You Choose The Prospect Profile,
       You Can Show Off Your Skills And Talents In The Pool And The MOCC Gallery. The Business Owner Profile 
       Option Allows You To Showcase Your Products/Services To Potential Customers On The Catalogue! 
    </p>
    
  </div>


  <div class="option">

    <h2 class="alert">Which Type Of Account Are You Creating?</h2>

    <a routerLink="/specialists">
      <button class="prospect" id="">Prospect/Artist</button>
    </a>

    <a routerLink="/createprofile">
      <button class="businessOwner" id="">Business Owner/Specalist</button>
    </a>

  </div>

</div>
