.root {
  background-color: gold;
  color: brown;
  display: flex;
}

.accountHeader {
  position: absolute;
  text-decoration: underline;
  white-space: nowrap;
  font-size: large;
  font-size: 1.25rem;
  margin-top: 18.5rem;
  margin-left: -10rem;
}

.accountCreation {
  position: absolute;
  border: 0.6rem solid brown;
  margin-top: 20rem;
  margin-left: -22rem;
  padding-left: 1rem;
  padding-top: 1rem;
  width: 44rem;
  height: 52rem;
}

.file {
  position: absolute;
  margin-left: 23.5rem;
}

.submit {
  position: absolute;
  border: 0.25rem solid brown;
  margin-top: 3.5rem;
  margin-left: 1.5rem;
  width: 6rem;
  height: 2rem;
}
