.root {
  background-color: gold;
  color: brown;
  display: flex;
}

.accountHeader {
  position: absolute;
  text-decoration: underline;
  margin-top: 21rem;
  margin-left: -5rem;
  white-space: nowrap;
}

.accountCreation {
  position: absolute;
  border: 0.6rem solid brown;
  margin-top: 23rem;
  margin-left: -21rem;
  padding-left: 1rem;
  padding-top: 1rem;
  width: 45rem;
  height: 49rem;
}

.submit {
  position: absolute;
  border: 0.25rem solid brown;
  margin-top: 1rem;
  margin-left: 18.5rem;
  width: 6rem;
  height: 2rem;
}
