.root {
    background-color: gold;
    color: brown;
    display: flex;
}

.intro {
    margin-top: 15rem;
    margin-bottom: 2rem;
    padding-top: 1rem;
    border: 0.6rem solid brown;
    text-align: center;
    font-size: large;
    width: 45rem;
    height: 18rem;
}