<div class="root">
    <div class="intro">
            My name is Brandon L. Davis and I am the creator of this website/catalogue. I am an alumni of
            Hampden-Sydney College. The motivation behind this platform came from the education I recieved 
            from two very diverse environments as well as the potential it holds to impact the lives of many.
            At an early age, I educated myself about the history of my ancestory and what came with being an
            African American in America. As I expanded my knowledge, I realized that my community along with 
            various others that resembled mine did not have all of the necessary ingredients to reach their 
            full potential. In addition tothis, their businesses were not doing as well as others. During the 
            early 1900s, the potential of Tulsa, the Hayti community in Durham, Jackson Ward in Richmond, along with
            others was cut short due to hate and violence. The minority market hasn't had a similar standing since
            those communities existed. My goal is to restore what these places were determined to accomplish as well
            as increasing the overall value of the minority owned market. This inclusive environment will be designed to be a 
            digitalized and national collection of National Minority Owned Businesses.
    </div>
    <p *ngFor="let data of searchData">Add data here...</p>
    <button (click)="hitServer()">Hit server</button>
</div>