<div class="root">

    <h2 class="header">Stay Up to Date With the Creator's Catelogue!</h2>

    <div class="intro">

        <div class="uploads">
            <h2 class="GalleryTitle">Gallery Uploads:</h2>
            <form class="gallery">

                

            </form>

        </div>

        <div class="uploads2">
            <h2 class="BusinessTitle">Business Uploads:</h2>
            <form class="business">

            

            </form>

        </div>

        <div class="uploads3">
            <h2 class="TourBoardTitle">Tour Board Uploads:</h2>
            <form class="dates">

            

            </form>

        </div>

    </div>
    
</div>