.root {
    background-color: gold;
    color: brown;
    display: flex;
}

.header {
    position: absolute;
    white-space: nowrap;
    text-decoration: underline;
    margin-top: 18rem;
    margin-left: -14.3rem;
}

.intro {
    position: absolute;
    border: 0.6rem solid brown;
    margin-top: 20rem;
    margin-left: -30.5rem;
    margin-bottom: 2rem;
    padding-top: 1rem;
    text-align: center;
    font-size: large;
    overflow-y: auto;
    width: 60rem;
    height: 34rem;
}

.feed {
    position: absolute;
    border: 0.6rem solid brown;
    overflow: auto;
    margin-top: 45rem;
    margin-left: -20rem;
    width: 40rem;
    height: 10rem;
}

.home {
    position: absolute;
    margin-top: 25rem;
    margin-left: 30rem;
    width: 60rem;
    height: 25rem;
}

.GalleryTitle {
    position: absolute;
    margin-top: -2.3rem;
    margin-left: 20rem;
}

.uploads {
    position: absolute;
    border: 0.4rem solid brown;
    margin-top: 2.5rem;
    margin-left: 4.5rem;
    width: 50rem;
    height: 20rem;

}

.BusinessTitle {
    position: absolute;
    margin-top: -2.3rem;
    margin-left: 19rem;
}

.uploads2 {
    position: absolute;
    border: 0.4rem solid brown;
    margin-top: 28rem;
    margin-left: 4.5rem;
    width: 50rem;
    height: 20rem;
}

.TourBoardTitle {
    position: absolute;
    margin-top: -2.3rem;
    margin-left: 18.5rem;
}

.uploads3 {
    position: absolute;
    border: 0.4rem solid brown;
    margin-top: 53rem;
    margin-left: 4.5rem;
    width: 50rem;
    height: 20rem;

}
