.root {
    background-color: gold;
    color: brown;
    display: flex;
}

.header {
    position: absolute;
    white-space: nowrap;
    margin-top: 21rem;
    margin-left: -14rem;
}

.intro {
    position: absolute;
    margin-top: 23rem;
    margin-left: -22rem;
    margin-bottom: 2rem;
    padding-top: 1rem;
    border: 0.6rem solid brown;
    text-align: center;
    font-size: large;
    overflow: auto;
    width: 45rem;
    height: 18rem;
}

.feed {
    position: absolute;
    border: 0.6rem solid brown;
    overflow: auto;
    margin-top: 45rem;
    margin-left: -20rem;
    width: 40rem;
    height: 10rem;
}