.root {
  position: absolute;
  background-color: gold;
  color: brown;
  display: flex;
}

.title {
  position: absolute;
  margin-top: 1.5rem;
  margin-left: 7rem;
}

.searchBox {
  position: absolute;
  margin-top: 5rem;
  margin-left: 8.5rem;
}

.heading {
  position: absolute;
  margin-left: 2rem;
}

.titles {
  position: absolute;
  margin-left: 1.1rem;
}

.table {
  position: absolute;
  text-decoration: underline;
  border-spacing: 0.75rem;
}

.check {
  position: absolute;
  margin-left: 7rem;
  margin-top: 4rem;
}

.search {
  position: absolute;
  border: 0.6rem solid brown;
  display: flex;
  width: 32rem;
  height: 13rem;
  margin-top: 20rem;
  margin-left: -15rem;
}

.businessTable {
  position: absolute;
  border: 0.6rem solid brown;
  display: flex;
  margin-top: 36rem;
  margin-left: -45rem;
  width: 89rem;
  height: 20rem;
}

.spacing {
  position: absolute;
  margin-left: 7.5rem;
}

.categories {
  position: absolute;
  margin-left: 15rem;
  text-decoration: underline;
  font-size: large;
  text-align: center;
}

.submit {
  position: absolute;
  border: 0.25rem solid brown;
  margin-top: 9rem;
  margin-left: 11.5rem;
  width: 7rem;
  height: 2rem;
}

.left {
  position: absolute;
  margin-top: 0.3rem;
  margin-left: 3rem;
}

.right {
  position: absolute;
  margin-top: 0.3rem;
  margin-left: 8rem;
}

.five {
  position: absolute;
  margin-top: 0.01rem;
  margin-left: 0rem;
}

.ten {
  position: absolute;
  margin-top: 0.01rem;
}

.fifteen {
  position: absolute;
  margin-top: 0.01rem;
}

.twenty {
  position: absolute;
  margin-top: 0.01rem;
}

.distance {
  position: absolute;
  margin-left: 4.5rem;
  margin-top: 5rem;
  white-space: nowrap;
}

.results {
  position: absolute;
  white-space: nowrap;
  margin-top: 2.5rem;
  margin-left: 0.3rem;
}

.media {
  position: absolute;
  border: 0.25rem solid brown;
  width: 6.5rem;
  height: 17rem;
  margin-top: 1rem;
  margin-left: -7rem;
}

.profile {
  position: absolute;
  border: 0.2rem solid brown;
  width: 3rem;
  height: 2rem;
  margin-top: 23rem;
  margin-left: -3rem;
}

.data {
  margin-top: 2rem;
}

.row {
  margin-left: 5rem;
}

.first {
  position: absolute;
  margin-top: 0.5rem;
  margin-left: -15rem;
  text-decoration: underline;
}

.last {
  position: absolute;
  margin-top: 0.5rem;
  margin-left: -11.2rem;
  text-decoration: underline;
}

.name {
  position: absolute;
  margin-top: 0.5rem;
  margin-left: -6.5rem;
  text-decoration: underline;
}

.address {
  position: absolute;
  margin-top: 0.5rem;
  margin-left: 4.3rem;
  text-decoration: underline;
}

.email {
  position: absolute;
  margin-top: 0.5rem;
  margin-left: 23.3rem;
  text-decoration: underline;
}

.state {
  position: absolute;
  margin-top: 0.5rem;
  margin-left: 34.5rem;
  text-decoration: underline;
}

.number {
  position: absolute;
  margin-top: 0.5rem;
  margin-left: 16.3rem;
  text-decoration: underline;
}

.city {
  position: absolute;
  margin-top: 0.5rem;
  margin-left: 37.4rem;
  text-decoration: underline;
}

.zip {
  position: absolute;
  margin-top: 0.5rem;
  margin-left: 43rem;
  text-decoration: underline;
}

.type {
  position: absolute;
  margin-top: 0.5rem;
  margin-left: 46.3rem;
  text-decoration: underline;
}

.link {
  position: absolute;
  margin-top: 0.5rem;
  margin-left: 52.8rem;
  text-decoration: underline;
}

