<div class="root">

  <div class="search">

    <form class="filter">

      <div class="title">
        <label class="heading" for="search">Search for the business here:</label><br>
        <input type="text" [(ngModel)]="business" id="search" name="search" size="30"><br><br>
      </div>
      
        <div class="label">
          <label class="distance">Select how far you would like the search to be (miles):</label><br>
        </div>

        <div class="searchBox">
          <div class="left">
            <input type="checkbox" id="distance1" name="distance1" value="5">
            <label class="five" for="distance"> 5</label><br>
            <input type="checkbox" id="distance3" name="distance3" value="15">
            <label class="fifteen" for="distance3"> 15</label><br>
          </div>

          <div class="right">
            <input type="checkbox" id="distance2" name="distance2" value="10">
            <label class="ten" for="distance2"> 10</label><br>
            <input type="checkbox" id="distance4" name="distance4" value="20">
            <label class="twenty" for="distance4"> 20</label><br>
          </div>
        </div>

      <button class="submit" id="btn" (click)="search()">Submit</button>

    </form>

  </div>

  <div class="businessTable">

    <table class="table">
      <thead>
        <tr class="categories">
          <th class="first">First</th>
          <th>Last</th>
          <th>BusinessName</th>
          <th>Address</th>
          <th>Phone#</th>
          <th>Email</th>
          <th>State</th>
          <th>City</th>
          <th>Zip</th>
          <th>Specialization</th>
          <th>Hire</th>
          <th>Weblink</th>
        </tr>
      </thead>

      <tbody class="results">
        <tr class="row" *ngFor="let searchResult of searchResults" >

          <td class="data" *ngFor="let data of getIncluded(searchResult)" >{{searchResult[data]}}</td>


        </tr>

      </tbody>

    </table>

  </div>

</div>