<div class="root">

  <div class="search">

    <form class="filter">

      <div class="title">
        <label class="heading" for="search">Search for the business:</label><br>
        <input type="text" id="search" name="search" size="30"><br><br>
      </div>

      <div class="check">
        <div class="label">
          <label>Select how far you would like the search to be:</label><br>
        </div>

          <input type="checkbox" id="distance1" name="distance1" value="5">
          <label for="vehicle1"> 5</label><br>

        <div class="10">
          <input type="checkbox" id="distance2" name="distance2" value="10">
          <label for="distance2"> 10</label><br>
        </div>

        <input type="checkbox" id="distance3" name="distance3" value="15">
        <label for="distance3"> 15</label><br>

        <div class="20">
          <input type="checkbox" id="distance4" name="distance4" value="20">
          <label for="distance4"> 20</label><br>
        </div>

      </div>

      <button class="submit" id="btn" onclick="">Submit</button>

    </form>

  </div>

  <div class="businessTable">

    <table>
      <thead>
        <tr class="categories">
          <th>First</th>
          <th>Last</th>
          <th>BusinessName</th>
          <th>Address</th>
          <th>Phone#</th>
          <th>Email</th>
          <th>State</th>
          <th>City</th>
          <th>Zip</th>
          <th>Specialization</th>
          <th>Hire</th>
          <th>Weblink</th>
        </tr>
      </thead>

    </table>

  </div>

</div>