.root {
  position: absolute;
  background-color: gold;
  color: brown;
  display: flex;
}

.title {
  position: absolute;
  margin-top: 1.5rem;
  margin-left: 7rem;
}

.searchBox {
  position: absolute;
  margin-top: 5rem;
  margin-left: 8.5rem;
}

.searchResults {
  position: absolute;
  margin-top: 36.5rem;
  margin-left: -41.5rem;
}

.header {
  position: absolute;
  white-space: nowrap;
  margin-top: 20rem;
  margin-left: -4.9rem;
  font-size: 1.3rem;
  text-decoration: underline;
}

.heading {
  position: absolute;
  margin-left: 1.7rem;
}

.table {
  position: absolute;
  text-decoration: underline;
  border-spacing: 1.3rem 0px;
}

.titles {
  position: absolute;
}

.check {
  position: absolute;
  margin-left: 7rem;
  margin-top: 4rem;
}

.search {
  position: absolute;
  border: 0.6rem solid brown;
  display: flex;
  width: 32rem;
  height: 13rem;
  margin-top: 22rem;
  margin-left: -15.5rem;
}

.businessTable {
  position: absolute;
  border: 0.6rem solid brown;
  display: flex;
  overflow: auto;
  margin-top: 38rem;
  margin-left: -42rem;
  width: 97rem;
  height: 20rem;
}

.spacing {
  position: absolute;
  margin-left: 7.5rem;
}

.categories {
  position: absolute;
  margin-left: 15.5rem;
  text-decoration: underline;
  font-size: large;
  text-align: center;
}

.submit {
  position: absolute;
  border: 0.25rem solid brown;
  margin-top: 9rem;
  margin-left: 11.5rem;
  width: 7rem;
  height: 2rem;
}

.left {
  position: absolute;
  margin-top: 0.3rem;
  margin-left: 3rem;
}

.right {
  position: absolute;
  margin-top: 0.3rem;
  margin-left: 8rem;
}

.five {
  position: absolute;
  margin-top: 0.01rem;
  margin-left: 0rem;
}

.ten {
  position: absolute;
  margin-top: 0.01rem;
}

.fifteen {
  position: absolute;
  margin-top: 0.01rem;
}

.twenty {
  position: absolute;
  margin-top: 0.01rem;
}

.distance {
  position: absolute;
  margin-left: 4.5rem;
  margin-top: 5rem;
  white-space: nowrap;
}

.results {
  position: absolute;
  white-space: nowrap;
  margin-top: 1.5rem;
  margin-left: 3rem;
}

.filter {
  padding-left: 0.4rem;
}

.profile {
  position: absolute;
  border: 0.2rem solid brown;
  width: 3rem;
  height: 2rem;
  margin-top: 23rem;
  margin-left: -3rem;
}

.profile {
  position: absolute;
  border: 0.3rem solid brown;
  padding-top: 1rem;
}

.image {
  border: 0.25rem solid brown;
  width: 6rem;
  height: 5rem;
  margin-top: 2rem;
  margin-left: -4.5rem;
}

.dist {
  position: absolute;
  margin-top: 7.6rem;
  margin-left: -6.2rem;
}

.data {
  border-spacing: 1rem;
  text-align: left;
  vertical-align: bottom;
  margin-top: -0.2rem;
  margin-left: 3rem;
  padding-left: 0.3rem;
  padding-top: 1rem;
  padding-right: -0.7rem;
  
}

.first {
  position: absolute;
  margin-top: 0.5rem;
  margin-left: -7.9rem;
  text-decoration: underline;
}

.last {
  position: absolute;
  margin-top: 0.5rem;
  margin-left: -3.3rem;
  text-decoration: underline;
}

.name {
  position: absolute;
  margin-top: 0.5rem;
  margin-left: 2.25rem;
  text-decoration: underline;
}

.address {
  position: absolute;
  margin-top: 0.5rem;
  margin-left: 14rem;
  text-decoration: underline;
}

.number {
  position: absolute;
  margin-top: 0.5rem;
  margin-left: 26.5rem;
  text-decoration: underline;
}

.email {
  position: absolute;
  margin-top: 0.5rem;
  margin-left: 34.3rem;
  text-decoration: underline;
}

.state {
  position: absolute;
  margin-top: 0.5rem;
  margin-left: 46.3rem;
  text-decoration: underline;
}

.city {
  position: absolute;
  margin-top: 0.5rem;
  margin-left: 50rem;
  text-decoration: underline;
}

.zip {
  position: absolute;
  margin-top: 0.5rem;
  margin-left: 56.3rem;
  text-decoration: underline;
}

.type {
  position: absolute;
  margin-top: 0.5rem;
  margin-left: 60.3rem;
  text-decoration: underline;
}

.link {
  position: absolute;
  margin-top: 0.5rem;
  margin-left: 67.5rem;
  text-decoration: underline;
}

