<div class="root">

  <h2 class="title">Search For Art</h2>

  <div class="searchBar">

    <label class="header" for="search">Enter Artist/Title Here:</label><br>

    <input class="input" type="text" id="search" name="search" size="40"><br>
    
    <input class="submit" type="button" id="submit" value="Search" size="25" onclick="">

  </div>

  <h2 class="heading">MOCC Art Gallery</h2>

  <div class="gallery">

    <a class="d-flex" routerLink="/media">
      <<div class="media">
        <img src="" alt="">
      </div>
    </a>

    <div class="media-body">
      <h5>Media heading</h5>
    </div>

  </div>


</div>