.gallery {
  position: absolute;
  border: 0.6rem solid brown;
  overflow-y: auto;
  width: 70rem;
  height: 26.5rem;
  margin-top: 31rem;
  margin-left: -35.5rem;
}

.heading { 
  position: absolute;
  margin-top: 29rem;
  margin-left: -5.5rem;
  white-space: nowrap;
  text-decoration: underline;
}

.media {
  position: absolute;
  border: 0.4rem solid brown;
  margin-left: 2rem;
  margin-top: 1rem;
  width: 7rem;
  height: 6rem;
}

.media1 {
  position: absolute;
  border: 0.4rem solid brown;
  margin-left: 2rem;
  margin-top: 9.8rem;
  width: 7rem;
  height: 6rem;
}

.media2 {
  position: absolute;
  border: 0.4rem solid brown;
  margin-left: 2rem;
  margin-top: 18.5rem;
  width: 7rem;
  height: 6rem;
}

.title1 {
  position: absolute;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.9rem;
  margin-top: 5.3rem;
  margin-left: -0.4rem;
}

.title2 {
  position: absolute;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.9rem;
  margin-top: 5.3rem;
  margin-left: -0.4rem;
}

.title3 {
  position: absolute;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.9rem;
  margin-top: 5.3rem;
  margin-left: -0.4rem;
}

.searchBar {
  position: absolute;
  border: 0.6rem solid brown;
  width: 35rem;
  height: 8rem;
  margin-left: -17rem;
  margin-top: 18.5rem;
}

.title {
  position: absolute;
  margin-top: 16.5rem;
  margin-left: -4rem;
  white-space: nowrap;
  text-decoration: underline;
}

.header {
  position: absolute;
  margin-top: 1.5rem;
  margin-left: 13rem;
  font-size: medium;
}

.input {
  position: absolute;
  margin-top: 2rem;
  margin-left: 7rem;
}

.search {
  position: absolute;
  margin-top: 1.8rem;
  margin-left: 15rem;
}

.submit {
  position: absolute;
  border: 0.2rem solid brown;
  margin-top: 3rem;
  margin-left: 14.5rem;
  width: 6rem;
  height: 2rem;
}
