.gallery {
  position: absolute;
  border: 0.6rem solid brown;
  overflow: auto;
  width: 70rem;
  height: 25rem;
  margin-top: 32.5rem;
  margin-left: -35.5rem;
}

.heading { 
  position: absolute;
  margin-top: 30.5rem;
  margin-left: -6.5rem;
  white-space: nowrap;
  text-decoration: underline;
}

.media {
  position: absolute;
  border: 0.4rem solid brown;
  margin-left: 2rem;
  margin-top: 1rem;
  width: 7rem;
  height: 6rem;
}

h5 {
  position: absolute;
  font-size: 0.9rem;
  margin-top: 8rem;
  margin-left: 2rem;
  text-overflow: ellipsis;
}

.searchBar {
  position: absolute;
  border: 0.6rem solid brown;
  width: 35rem;
  height: 8rem;
  margin-left: -17rem;
  margin-top: 20.5rem;
}

.title {
  position: absolute;
  margin-top: 18.5rem;
  margin-left: -5.3rem;
  white-space: nowrap;
  text-decoration: underline;
}

.header {
  position: absolute;
  margin-top: 1.5rem;
  margin-left: 13rem;
  font-size: medium;
}

.input {
  position: absolute;
  margin-top: 2rem;
  margin-left: 7rem;
}

.search {
  position: absolute;
  margin-top: 1.8rem;
  margin-left: 15rem;
}

.submit {
  position: absolute;
  border: 0.2rem solid brown;
  margin-top: 3rem;
  margin-left: 12rem;
  width: 6rem;
  height: 2rem;
}
