<div class="root">

  <img class="profile" src="">

  <input class="picFile" type="file" value="Edit Profile Picture" onchange="readImage(picLink)" accept=".jpg, .jpeg, .png">

  <a routerLink="/post">
    <button class="post" id="post" onclick="postGallery">Post</button>
  </a>

  <a routerLink="/">
    <button class="logout" onclick="" >Sign Out</button>
  </a>

  <a routerLink="/">
    <button class="edit" onclick="" >Edit Info</button>
  </a>

  <h3 class="user" id="user">#Artist Name#</h3>

  <div class="info">

    <table class="table">
      <thead>
        <tr class="categories" scope="column">
          <th>First:</th><br>
          <th>Last:</th><br>
          <th>Birthday:</th><br>
          <th>State:</th><br>
          <th>City:</th><br>
        </tr>

        <tr class="column" scope="row">
          <th>Phone#:</th><br>
          <th>Email:</th><br>
          <th>Weblink:</th>
          <th class="genre">Genre:</th><br>
          <th class="pw">Password:</th><br>
        </tr>

      </thead>

      

      <!-- <p class="data1">

        {{data.first}}
        {{data.last}}
        {{data.specialization}}
        {{data.education}}
        {{data.phone}}
        {{data.email}}

      </p> -->

    </table>

    <div class="portfolio">
      
      <div class="media">
        <a class="d-flex" href="#">
          <img src="" alt="">
        </a>

        <div class="media-body">
          <h5>Media heading</h5>
        </div>
      </div>

      <div class="media1">
        <a class="d-flex" href="#">
          <img src="" alt="">
        </a>

        <div class="media-body1">
          <h5>Media heading</h5>
        </div>
      </div>

    </div>

  </div>

</div>